body{
margin-top:10px;
background-color: rgb(240, 238, 238);
}
.mainPanel{
display:none;
max-height:95%;
overflow-y:auto;
}

.tablesorter{
font-size:14px;
}

.list-group-item{
cursor:pointer;
}

.list-group-item:hover{
cursor:pointer;
border-left:1px solid rgb(100, 100, 100);
border-right:1px solid rgb(100, 100, 100);
}
.table thead{
background-color:#ddd;
opacity:0.9;
}
.table tbody tr{
opacity:0.9;
color:black;
}
.table tbody tr:hover{
opacity:1;
border-left:2px solid rgb(100, 100, 100);
border-right:2px solid rgb(100, 100, 100);
}

.list-group-item.active{
opacity:1;
background-image:linear-gradient(to bottom, #72bbfa 0%, #5298d3 100%);
background-repeat: repeat-x;
color:#f2e8d3;
}
.list-group-item.active:hover{
opacity:1;
border-left:2px solid rgb(100, 100, 100);
border-right:2px solid rgb(100, 100, 100);
}

#softwareInfo{
position:fixed;
bottom:0px;
width:100%;
background:#f5f5f5;
border-top:1px solid #ddd;
text-align:center;
font-size:80%;
color:#acacac;
}

.visitorNumber{
font-weight:bold;
}
#visitorsPanel .panel-heading #autoRefreshVisitorsListSpan {
float:right;
font-style:italic;
font-size:75%;
}

#autoRefreshVisitorsList{
width: 13px;
height: 13px;
vertical-align: bottom;
}

.button-pane{
margin: 0 0 10px 0;
}